.footer-container {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
  padding: 0 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
